{% extends "base.html" %}
{% load static %}
{% load extra_polls %}
{% block content %}
    <h1>Welcome to Cloud Page</h1>
    <br>
    <h4>Used {{ user.userprofile.percentage_used|rounder:"2" }}% out of 100%</h4>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
            aria-valuemin="0" aria-valuemax="100" style="width:{{ user.userprofile.percentage_used }}%">
        </div>
    </div>
    <div class="row">
        {% if cloudfolder.parent_folder %}
            <a href="{% url 'cloud:folder' pk=cloudfolder.parent_folder.pk %}"><img src="{% static 'images/cloud/parent_folder.png' %}" style="max-width:30px;max-height:30px;" alt=""></a>
        {% else %}
            <a href="{% url 'cloud:home' %}"><img src="{% static 'images/cloud/parent_folder.png' %}" style="max-width:30px;max-height:30px;" alt=""></a>
        {% endif %}
    </div>
    <br><br><br>
    <div class="row">
        {% for folder in cloudfolder.all_folders.all %}
              <div class="col-sm-3">
                  <div class="row">
                      <a href="{% url 'cloud:folder' pk=folder.pk %}"><center><img src="{% static "images/cloud/folder.png" %}" style="max-width:100px;max-height:100px;" alt=""></center></a>
                  </div>
                  <div class="row">
                      <span class="glyphicon glyphicon-option-vertical" onclick="openDeletefolder{{folder.pk}}()" style="padding-left:75%;"></span>
                      <a href="{{folder.pk}}"><button type="button" id="delbutfolder{{folder.pk}}" name="button" class="btn btn-danger deletebutton">Delete</button></a>
                      <a href="{% url 'cloud:folder' pk=folder.pk %}"><center>{{ folder.name }}</center></a>
                  </div>
              </div>
        {% endfor %}
        <script>
            {% for folder in cloudfolder.all_folders.all %}
                function openDeletefolder{{folder.pk}}() {
                  if(document.getElementById("delbutfolder{{folder.pk}}").style.display == "block") {
                      document.getElementById("delbutfolder{{folder.pk}}").style.display = "none";
                  }
                  else {
                      document.getElementById("delbutfolder{{folder.pk}}").style.display = "block";
                  }
                }
            {% endfor %}
            {% for file in cloudfolder.files.all %}
                function openDeletefile{{file.pk}}() {
                  if(document.getElementById("delbutfile{{file.pk}}").style.display == "block") {
                      document.getElementById("delbutfile{{file.pk}}").style.display = "none";
                  }
                  else {
                      document.getElementById("delbutfile{{file.pk}}").style.display = "block";
                  }
                }
            {% endfor %}
        </script>
    </div>
    <br><br><br>
    <div class="row">
        {% for file in cloudfolder.files.all %}
              <div class="col-sm-3">
                  <div class="row">
                      <a href="{{file.data.url}}"><center><img src="{% static "images/cloud/file.png" %}" style="max-width:100px;max-height:100px;" alt=""></center></a>
                  </div>
                  <div class="row">
                      <span class="glyphicon glyphicon-option-vertical" onclick="openDeletefile{{file.pk}}()" style="padding-left:75%;"></span>
                      <a href="{{file.pk}}"><button type="button" id="delbutfile{{file.pk}}" name="button" class="btn btn-danger deletebutton">Delete</button></a>
                      <a href="{{file.data.url}}"><center>{{ file.filename }}</center></a>
                  </div>
              </div>
        {% endfor %}
    </div>
    <button class="open-button" onclick="openForm()">Upload File</button>
    <button class="open-button1" onclick="openForm1()">Create Folder</button>
    <div class="form-popup" id="myForm">
      <form action="{% url 'cloud:file_api' %}" method="post" class="form-container" enctype="multipart/form-data">
        <h1>Upload File</h1>
        {% csrf_token %}
        <input type="hidden" name="profile" value="{{user.userprofile.pk}}">
        <input type="hidden" name="folder" value="{{cloudfolder.pk}}">
        <input type="hidden" name="backref" value="{% url 'cloud:folder' pk=cloudfolder.pk %}">

        <label for="something"><b>File</b></label>
        <input type="file" name="data" required>
        <br>

        <a href="{% url 'cloud:folder' pk=cloudfolder.pk %}"><button type="submit" class="btn">Upload</button></a>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </form>
    </div>

    <div class="form-popup1" id="myForm1">
      <form action="{% url 'cloud:folder_api' %}" method="post" class="form-container" enctype="multipart/form-data">
        <h1>Create Folder</h1>
        {% csrf_token %}
        <input type="hidden" name="profile" value="{{user.userprofile.pk}}">
        <input type="hidden" name="parent_folder" value="{{cloudfolder.pk}}">
        <input type="hidden" name="backref" value="{% url 'cloud:folder' pk=cloudfolder.pk %}">

        <label for="name"><b>Folder Name</b></label>
        <input type="text" name="name" required>
        <br>

        <button type="submit" class="btn">Create</button>
        <button type="button" class="btn cancel" onclick="closeForm1()">Close</button>
      </form>
    </div>
    <br><br><br>
{% endblock %}
