{% extends "base.html" %}
{% load extra_polls %}
{% block content %}
    <h1>Welcome to Cloud Page</h1>
    <br>
    <h4>Used {{ user.userprofile.percentage_used|rounder:"2" }}% out of 100%</h4>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
            aria-valuemin="0" aria-valuemax="100" style="width:{{ user.userprofile.percentage_used }}%">
        </div>
    </div>
    {% for cloud in user.userprofile.clouds.all %}
    <div class="row">
        <a href="{{cloud.data.url}}">
            <div class="col-sm-1">
                <input type="checkbox" name="" value="">
            </div>
            <div class="col-sm-11">
                <div class="jumbotron">
                    <div class="row">
                        Title : {{cloud.title}}
                    </div><br>
                    <div class="row">
                        Description : {{cloud.description}}
                        sdkfkdsfkdsk;hfds <br>dslkfh <br>dslkfsdkl <br>sdlkfn <br>sdlkfn <br>sdklfn
                </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
{% endblock %}
